<a href="https://colab.research.google.com/github/Alphonsbaby/PYTHON-CYCLE-1/blob/main/cycle2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
yes 
list = [11, 22, 33, 44, 55]
print("list before removing EVENnumbers")
print (list)

for i  in list:
	if(i%2 == 0):
	    list.remove(i)

print ("list after removing EVEN numbers:")
print (list)

list before removing EVENnumbers
[11, 22, 33, 44, 55]
list after removing EVEN numbers:
[11, 33, 55]

In [ ]:
import math 

print("The gcd of 60 and 48 is : ", end="") 
print(math.gcd(60, 48))

The gcd of 60 and 48 is : 12

In [ ]:
def Merge(dict1, dict2):
    res = {**dict1, **dict2}
    return res
     
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
dict3 = Merge(dict1, dict2)
print(dict3)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [ ]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Dictionary in descending order by value :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
#find biggest number
x=int(input('enter the 1st number'))
y=int(input('enter the 2 nd number'))
z=int(input('enter the 3 rd number'))
if (x > y) and (x > z):
   largest = x
elif (y > x) and (y > z):
   largest = y
else:
   largest = z
   print("The largest number is", largest)

enter the 1st number7
enter the 2 nd number8
enter the 3 rd number9
The largest number is 9

In [ ]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
print(n1)
n2 = int( "%s%s" % (a,a) )
print(n2)
n3 = int( "%s%s%s" % (a,a,a) )
print(n3)
print ("sum  =",n1+n2+n3)

Input an integer : 1
1
11
111
sum  = 123

In [ ]:
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('abc', 'xyz'))

xyc abz

In [ ]:
#program to find area of circle in Python using Ï€
PI = 3.14
r = float(input("Enter the radius of the circle: "))
area = PI * r * r
print("%.2f" %area)

Enter the radius of the circle: 3
28.26

In [ ]:
txt = "python"

x = txt.replace("p","n")
w=x
o= w.replace("n","p")

print(o)

pythop

In [ ]:
# Python String Operations
str1 = str(input("enter the name"))
str2 =".php"

str3=(str1 + str2)# using *
print(str3)

enter the nameanu
anu.php

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list)
print( "%s %s"%(color_list[0],color_list[-1]))

['Red', 'Green', 'White', 'Black']
Red Black

In [ ]:
list1 = [11, 22, 33, 44, 55]
list2 = [11, 22, 33, 44, 55,66]
s=len(list1)
m=len(list2)
print("length of list 1 is:",len(list1))
print("length of list 2 is:",len(list2))
if s==m:
 print("both list is same")
else:
 print("not same")


total1 = 0
ele = 0
while(ele < len(list1)):
    total1 = total1 + list1[ele]
    ele += 1
     
print("Sum of all elements in given list1 : ", total1)
total2 = 0
ele = 0
while(ele < len(list2)):
    total2 = total2 + list2[ele]
    ele += 1
     
print("Sum of all elements in given list2 : ", total2)

length of list 1 is: 5
length of list 2 is: 6
not same
Sum of all elements in given list1 :  165
Sum of all elements in given list2 :  231

In [ ]:
txt = "hellowanu"
new_character = "  "
string = txt[0:6] + new_character + txt[6:]
print(string)

In [ ]:
txt = input("Enter a the name")
new_character = '&'
string = new_character + txt[1:]
print(string)

In [ ]:
input_string = input("Enter a list elements separated by space ")

print("\n")
color_list = input_string.split()
print("user list is ", color_list)
print( "%s %s"%(color_list[0],color_list[-1]))

In [ ]:
list1 = ["White", "Black", "Red"]
list2 = ["Red", "Green"]
mylist = list1 + list2
mylist = list(dict.fromkeys(mylist))
print(mylist)

In [ ]:
str1 = str(input("enter the address"))
print(str1)

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list)
print( "%s %s"%(color_list[0],color_list[-1]))

In [ ]:
x=[]
n=int(input("enter any integers :"))
for i in range(1,n+1):
  a=int(input())
  if (a>100):
    x.append('over')
  else:
    x.append(a)
print("modified list :" ,x)

In [ ]:
x=[]
n=int(input("enter list items : "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    x.append(a)
y=[num for num in x if num >= 0]
print("initial list of integers is :",x) 
print("modified list of positive numbers is :",y)

In [ ]:
x=[]
n=int(input("enter list items : "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    x.append(a)
b=(num**2 for num in x)
print("initial list of N numbers :",x)
y=list(b)
print("square list of N numbers :",y)

In [ ]:
w=input("enter any word : ")
v=[l for l in w if l in 'aeiou' ]
print("list of vowels in",w," :",v)

In [ ]:
w=input("enter any word : ")
for l in range(len(w)) :
  print("ASCII value is",w[l],"is",ord(w[l]))

In [ ]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

In [ ]:
list1 = ["a","b","a","a"]
print(list1.count("a"))

3

In [ ]:
s=int(input("enter starting year: "))
e=int(input("enter ending year: "))
print("leap years between",s,"and",e)
while (s<=e):
    if ((s%400==0) or ((s%4==0) and (s%100!=0))):
      print(s)
    s=s+1